In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('../data/Petition_data_add_type.csv')
data.head()

,title,contents,like,types
0,AI 이미지 생성기의 무분별한 사용과 악용을 막기 위한 법적 규제에 관한 청원,AI 이미지 생성기의 개발은 콘텐츠 산업을 새로운 혁신을 가져다 줄 큰 잠재력을 가...,50000,문화/체육/관광/언론
1,아동학대살인 가해자의 엄벌과 신상공개에 관한 청원,저는 얼마전 아동학대로 살해당한 한 아이의 삼촌입니다\r\n아동학대 사건의 형량 상...,50000,수사/법무/사법제도
2,중도금 가산금리 인하 및 시스템 개편에 관한 청원,정부에서 지역별 중도금 가산금리에 대한 차등을 두는것을 아시는지요?\r\n은행에서는...,50000,재정/세제/금융/예산
3,"한전은 공기업, 송전시장 민영화 반대에 관한 청원",자금난으로 인한 민간에 송전시장을 민영화보다 차라리 전기요금을 올리세요!\r\n\r...,50000,산업/통상
4,12년간 당한 학교폭력에 관한 청원,"저는 OO초등학교 2003년 입학, OO초등학교에서 2005년 3학년 무렵 OOOO...",50000,수사/법무/사법제도

In [3]:
data.isna().sum()

title       0
contents    0
like        0
types       0
dtype: int64

In [4]:
data['types'].value_counts()

보건의료                 90
수사/법무/사법제도           58
국토/해양/교통             51
행정/지방자치              44
교육                   38
재정/세제/금융/예산          32
산업/통상                26
재난/안전/환경             26
기타                   25
인권/성평등/노동            22
농업/임업/수산업/축산업        21
문화/체육/관광/언론          19
복지/보훈                19
외교/통일/국방/안보          18
정치/선거/국회운영           16
과학기술/정보통신            13
소비자/공정거래             11
저출산/고령화/아동/청소년/가족    10
Name: types, dtype: int64

In [8]:
import re
def remove_newline(x):
    x = x.replace('\n', ' ')
    x = re.sub('\r', '', x)
    x = re.sub('\n', '', x)
    return x

In [9]:
data['content'] = data['contents'].apply(remove_newline)
data = data.loc[:, ['title', 'content', 'types', 'like']]
data.head()

,title,content,types,like
0,AI 이미지 생성기의 무분별한 사용과 악용을 막기 위한 법적 규제에 관한 청원,AI 이미지 생성기의 개발은 콘텐츠 산업을 새로운 혁신을 가져다 줄 큰 잠재력을 가...,문화/체육/관광/언론,50000
1,아동학대살인 가해자의 엄벌과 신상공개에 관한 청원,저는 얼마전 아동학대로 살해당한 한 아이의 삼촌입니다 아동학대 사건의 형량 상한 법...,수사/법무/사법제도,50000
2,중도금 가산금리 인하 및 시스템 개편에 관한 청원,정부에서 지역별 중도금 가산금리에 대한 차등을 두는것을 아시는지요? 은행에서는 신용...,재정/세제/금융/예산,50000
3,"한전은 공기업, 송전시장 민영화 반대에 관한 청원",자금난으로 인한 민간에 송전시장을 민영화보다 차라리 전기요금을 올리세요! 한번 민...,산업/통상,50000
4,12년간 당한 학교폭력에 관한 청원,"저는 OO초등학교 2003년 입학, OO초등학교에서 2005년 3학년 무렵 OOOO...",수사/법무/사법제도,50000

In [41]:
def sort_columns(col_name):
    new_data = data[data['types'] == col_name].sort_values('like', ascending = False)
    mean_value = new_data['like'].mean()
    new_data = new_data.iloc[0]
    return col_name, new_data['title'], new_data['content'], new_data['like'], int(mean_value)

In [42]:
unique_col = data['types'].unique().tolist()

In [45]:
type_names, titles, contents, likes, means = [], [], [], [], []
for col in unique_col:
    type_name, title, content, like, mean = sort_columns(col)
    type_names.append(type_name); titles.append(title); contents.append(content); likes.append(like); means.append(mean)

In [49]:
data_info = pd.DataFrame({'type': type_names, 'title': titles, 'content': contents, 'like': likes, 'mean': means})
data_info.to_csv('../data/data_info.csv', index = False)